{% load staticfiles %}
<html>
	<head>
		<title>Annotation Chart</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "amcharts/style.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "jquery-ui/theme/ui.all.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "jquery-ui/theme_error/ui.all.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "jquery-ui/theme_event/ui.all.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "dataTables/extensions/TableTools/css/dataTables.tableTools.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "dataTables/media/css/jquery.dataTables.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "dataTables/extensions/Plugins/integration/jqueryui/dataTables.jqueryui.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "dataTables/extensions/Plugins/integration/jqueryui/jquery-ui.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "dataTables/examples/resources/demo.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "amcharts/plugins/export/export.css" %}" type="text/css">
		
		<script type="text/javascript">chart_data = {{ chart_data | safe }};</script>
		<script type="text/javascript">exception = {{ exception | safe }};</script>
		<noscript>Sorry, your browser does not support JavaScript!</noscript>
		
	</head>
	
	<body>
		<div class="container">
			
			<h1 style="padding-top: 2px;">Exploratory Analysis System <span>Chart</span></h1>

			<div class="gradientBoxesWithOuterShadows">
				<div id="chartdiv">
					<script>
                        var m = "{{ created }}";
                        if (m)
                        	alert(m);
						document.getElementById('chartdiv').style.height = chart_data['chart_panels']['panels'].length*180+220+'px';
						document.getElementById('chartdiv').style.width = '100%';
					</script>
				</div>
			</div>

			<div class="gradientBoxesWithOuterShadows">
				<div class="chartConfiguration">
					<label><span><b> Configuration: </b></span></label>
					<label for="comparison"><input type="checkbox" id="comparison" onclick="setComparison(this)"/> <span> Comparison </span></label>
					<label for="show_events"><input type="checkbox" id="show_events" onclick="show_events(this)"/> <span> Show Events </span></label>
					
					<label for="graph_display"><span> Graph Display: </span>
						<select id="graph_display" onChange="setChartDisplay(this)">
							<option value="smoothedLine" selected>Smoothed Line</option>
							<option value="line">Line</option>
							<option value="step">Step</option>
							<option value="column">Column</option>
						</select>
					</label>
					
					<label for="grouping_series"><span> Grouping Series: </span>
						<select id="grouping_series" onChange="groupingSeries(this)">
							<option value="all" selected>No Grouping</option>
							<option value="MM">Monthly</option>
							<option value="WW">Weekly</option>
							<option value="DD">Daily</option>
							<option value="hh">Hourly</option>
							<option value="30mm">30-Minutely</option>
							<option value="10mm">10-Minutely</option>
							<option value="mm">Minutely</option>
						</select>
					</label>
					
					<label for="group_by"><span> Group by: </span>
						<select id="group_by" onChange="setGroupValue(this)">
							<option value="Average" selected>Average</option>
							<option value="Open">Open</option>
							<option value="Low">Low</option>
							<option value="High">High</option>
							<option value="Sum">Sum</option>
						</select>
					</label>
				</div>
			</div>
				
			<br>
			<h1>Exploratory Analysis System <span>Table data</span></h1>

			<div id="phmTable" class="gradientBoxesWithOuterShadows"></div><br>
		</div>
	
		<script src="{% static "jquery-ui/jquery.js" %}" type="text/javascript"></script>
		<script src="{% static "jquery-ui/jquery-ui.js" %}" type="text/javascript"></script>
		
		<script src="{% static "multipleGraphs.js" %}" type="text/javascript"></script>
		<script src="{% static "amcharts/amcharts.js" %}" type="text/javascript"></script>
		<script src="{% static "amcharts/serial.js" %}" type="text/javascript"></script>
		<script src="{% static "amcharts/amstock.js" %}" type="text/javascript"></script>
		<!-- Exporting to image works on all modern browsers except IE9 (IE10 works fine) -->
		<script src="{% static "amcharts/plugins/export/export.js" %}" type="text/javascript"></script>

		<script src="{% static "dataTables/media/js/jquery.dataTables.js" %}" type="text/javascript" language="javascript"></script>
		<script src="{% static "dataTables/extensions/TableTools/js/dataTables.tableTools.js" %}" type="text/javascript" language="javascript"></script>
		<script src="{% static "dataTables/extensions/Plugins/integration/jqueryui/dataTables.jqueryui.js" %}" type="text/javascript" language="javascript"></script>
		
		<script type="text/javascript" language="javascript" class="init">
			var chart = createMultipleGraphsChart(chart_data);
			AmCharts.ready(function () {
				chart.write('chartdiv');
			});
			chart.hideStockEvents();
			chart.addListener('clickStockEvent', clickStockEvent_handler);
		</script>
		
		<script type="text/javascript" language="javascript" class="init">
			var dataSet = chart_data["chart_panels"]["table"]["dataSet"];
			var columns = chart_data["chart_panels"]["table"]["columns"];	

			TableTools.DEFAULTS.sSwfPath = "/static/dataTables/extensions/TableTools/swf/copy_csv_xls_pdf.swf";
			TableTools.DEFAULTS.sRowSelect = "os";
			TableTools.DEFAULTS.aButtons = ["copy",
											{"sExtends": "collection", "sButtonText": "Save", "aButtons": [ "csv", "xls", "pdf" ]}, 
											"select_all", 
											"select_none"];
			
			$(document).ready(function() {
				$('#phmTable').html( '<table cellpadding="0" cellspacing="0" border="0" class="display" id="table"></table>' );
				var table = $('#table').DataTable( {data: dataSet, columns: columns, scrollX: true, scrollY:"369px", "scrollCollapse": true});
				var tt = new $.fn.dataTable.TableTools( table );
				$( tt.fnContainer() ).insertBefore('div.dataTables_filter');
			} );
		</script>
		
		<div id="eventDialog" title="Event Information" class="event">
			<script>
				$( "#eventDialog" ).dialog({
					autoOpen: false,
					moveToTop: true,
					width: 500,
					dialogClass: "event",
					buttons: [
						{
							text: "Ok",
							click: function() {$(this).dialog( "close" );}
						}
					],
					position: { 
						my: 'center',
						at: 'center',
						of: $('#chartdiv')
					 }
				});
			</script>
		</div>
		
		<div id="errorDialog" title="Error Handler" class="error">
			<script>
				$( "#errorDialog" ).dialog({
					autoOpen: false,
					moveToTop: true,
					width: 500,
					height: 250,
					modal: true,
					dialogClass: "error",
					buttons: [
						{
							text: "Ok",
							click: function() {$(this).dialog( "close" );}
						}
					],
					show: {effect: 'fade', duration: 1500}
				});
				
				if (!("empty" in exception)) {
					var exceptions = chart_data["exceptions"];
					$("#errorDialog").html("<font color=\"red\">"+
											"<br><b>"+exception["title"]+
											"</b><br><br>"+exception["message"]+
											"<br>"+exception["bottom"]+"</font>"); 
					$("#errorDialog").dialog("open");
				}
			</script>
		</div>
		
	</body>
</html>
