{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="{% static "datetimepicker/jquery.datetimepicker.css" %}" type="text/css"/>
		<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-default.css" %}" type="text/css">
		<style type="text/css">
			.add-row {
				padding-left:18px;
				background:url({{ MEDIA_URL }}/static/images/add.png) no-repeat left center;
			}
			.delete-row {
				margin:6px 0 0 0;
				padding-left:18px;
				background:url({{ MEDIA_URL }}/static/images/delete.png) no-repeat left center;
			}
			.dynamic-form { padding: 5px 12px; position: relative; left:-20px;}
			.row1 { background-color: #BCD2EE; }
			.row2 { background-color: #B0C4DE; }
			.row3 { background-color: #9FB6CD; }
		</style>

		<script language="javascript" type="text/javascript">
			//Script for auto resize Iframe
			function autoResizeIframe(obj) {
				obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
			}
		</script>
		
		{% block extrahead %}{% endblock %}
	</head>
	
	<body bgcolor="#e5e5e5" align="center">

		{% block content %}{% endblock %}

		<script src="{{ MEDIA_URL }}/static/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script src="{{ MEDIA_URL }}/static/jquery/jquery.formset.js" type="text/javascript"></script>
		<script src="{% static "datetimepicker/jquery.datetimepicker.js" %}" type="text/javascript"></script>
		<script src="{% static "bootstrap/js/bootstrap-2.1.1-min.js" %}" type="text/javascript"></script>

		<script>
			$('.datepicker').datetimepicker({
				format:'d/m/Y H:i',
				step: 10
			});
		</script>
		
		<script type="text/javascript">
			$(function() {
				$('form div').formset({
					formCssClass: 'dynamic-form',
					prefix: "{{ formset.prefix }}",
					extraClasses: ['row1', 'row2', 'row3']
				});
			})
		</script>
	  
		<script language="JavaScript">
			function setVisibility(div, visibility) {
				document.getElementById(div).style.display = visibility;
            }

		</script>
		
	</body>
</html>