{% load staticfiles %}

{% block content %}
<?xml version="1.0" encoding="UTF-8"?>

<html>
	<head>
		<title>Prognostic Health Monitor</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-default.css" %}" type="text/css">

		<script>
			function removeAlert() {
				if (confirm("Queries will be permanently deleted, Are you sure you want to continue?") == true) {
					return true;
				} else {
					return false;
				}
			}
		</script>
	</head>

	<body bgcolor="#e5e5e5" align="center">
		<div class="wrapper">
		
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
				
						<a class="repo-link btn btn-primary btn-big" href="/admin/">admin</a>
						<a class="repo-link btn btn-primary btn-big" href="/logout/">logout</a>
						<label class="repo-link" >Hello {{username}}</label>
					  
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
					  
						<a class="brand" href="http://www.orbotech.com/">
							<img src="/static/images/orbotech_logo.png" alt="Orbotech" style="width:183px;height:20px;">
						</a>
						
						<div class="nav-collapse">
							<ul class="nav navbar-nav">
								<li class="add-on"><a href="/home/">Home</a></li>
								<li class="active"><a href="/favorites/">Favorites</a></li>
								<li class="add-on"><a href="/plugins/">Plug-ins</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="body-content">
				<div class="container-fluid">
				
					{% if fav_table %}
						<h2> Favorites Manager</h2>
						<div class="fancy-line-div">
							<hr class="fancy-line"></hr>
						</div>
						
						<ul id="contentwrap" style="padding-top: 1px; padding-bottom: 1px;">
							
							<form action="/favorites/" method="GET" >{% csrf_token %}
								<ul id="contentwrap" style="padding-top: 10px; padding-bottom: 10px; text-align:left;">
								
									{% for i,j in fav_table  %}
										<label><input type="checkbox" id="{{j}}-row" name="checked" value={{j}} style="margin-bottom: 12px;"> {{i}} </label>
										<br>
									{% endfor %}
								
								</ul>
								
								<input class="blue_alt" type="submit" id= "sub" value="remove " name="submit" onclick="return removeAlert()">	
								<br><h5>Select Unwanted Favorites to Remove</h5>
							</form>
						</ul>

					{% else %}
						<h2> You do not have Favorites!</h2>
					{% endif %}
					
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/jquery/jquery-1.11.3.min.js"></script>
		<script src="{% static "bootstrap/js/bootstrap-2.1.1-min.js" %}" type="text/javascript"></script>
	</body>
</html>
{% endblock %}