{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<?xml version="1.0" encoding="UTF-8"?>

<html>
	<head>
		<title>Prognostic Health Monitor</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	</head>
	
	<body>
		<div class="wrapper">
		
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
				
						<a class="repo-link btn btn-primary btn-big" href="/admin/">admin</a>
						<a class="repo-link btn btn-primary btn-big" href="/logout/">logout</a>
						<label class="repo-link" >Hello {{username}}</label>
					  
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
					  
						<a class="brand" href="http://www.orbotech.com/">
							<img src="/static/images/orbotech_logo.png" alt="Orbotech" style="width:183px;height:20px;">
						</a>
						
						<div class="nav-collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="/home/">Home</a></li>
								<li class="add-on"><a href="/favorites/">Favorites</a></li>
								<li class="add-on"><a href="/plugins/">Plug-ins</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		
			<div class="body-content">
				<div class="container-fluid">
					<form action="/annotationChart/" method="GET" target="contentFrame">
						{% csrf_token %}
						
						<ul id="contentwrap">
							<table style="margin-left: auto; margin-right: auto; padding-bottom: 10px;">
							  <tr class="tableSettings">
									<td><label><h3>Settings:</h3></label></td>
									<td>
										<label>{{settings.no_chart}}<span> no chart </span></label>
										<label>{{settings.no_table}}<span> no table </span></label>
										<label><span> Table Plugin: </span>{{settings.table_plugin}}</label>
									</td> 
							  </tr>
							  <tr class="tableTimeRange">
								<td><label><h3>Time range:</h3></label></td>
								<td>
									<label><span> Start Date: </span>{{time_range.start_date}}</label>
									<label><span> End Date: </span>{{time_range.end_date}}</label>
								</td> 
							  </tr>
							</table>
						</ul>

						<ul id="contentwrap">
							<h3>Choose from favorites:</h3>
							<select id="favourites"  name="favourites" style="min-width: 120px;">
								{% for f in Fav_table %}
								<option>{{f}} </option>
								{% endfor %}
							</select>
						</ul>
						
						<ul id="contentwrap">
							<h3>Build your request:</h3>

							{% for form in formset.forms %}
							<div id="{{ form.prefix }}-panel" class="form-container" style="padding-bottom: 0px;">
								{{ form.as_table }}
							</div>
							{% endfor %}

							<p>
								<input type="image" name="favorites_in" src="/static/images/star1.png" style="width: 20px; height: 20px " onclick="setVisibility('fav_name', 'inline');setVisibility('ok', 'inline');return false;"/>
								<input type="text" name="fav_name"  id='fav_name' value="" size="20" style="display:none"/>
								<input type="submit" name="ok" value="ok"  id='ok' style="display:none" onClick="setVisibility('fav_name','none');setVisibility('ok','none');"/>
							</p>
						</ul>
						
						<ul id="contentwrap">
							<h3>Type your request:</h3>
							<input id="request" class="input" name="request" type="text" value="" size="70" onkeyup="setVisibility('fav_name', 'none');setVisibility('ok', 'none');"/><br/>
						</ul>
						
						{{ formset.management_form }}
						<input class="blue_alt" type="submit" value="Submit " name="submit" onclick="setVisibility('contentFrame', 'visible');"/>
						
					</form>

					<iframe name='contentFrame' id='contentFrame' src='' width='84%' height='0' scrolling='no' frameborder='0' onload="autoResizeIframe(this);">
					</iframe>
					<hr class="fancy-line"></hr><br>
				</div>
			</div>
		</div>
	</body>
</html>
{% endblock %}