{% load staticfiles %}
<?xml version="1.0" encoding="UTF-8"?>

<html>
   <head>
		<title>Prognostic Health Monitor</title>
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-default.css" %}" type="text/css">

   </head>
   
   <body class="login">
		<div class="wrapper">
		
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
				
						<a class="repo-link btn btn-primary btn-big" href="/admin/">admin</a>
						<a class="repo-link btn btn-primary btn-big" href="/login/">login</a>
						<label class="repo-link" >Hello Guest</label>
					  
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
					  
						<a class="brand" href="http://www.orbotech.com/">
							<img src="/static/images/orbotech_logo.png" alt="Orbotech" style="width:183px;height:20px;">
						</a>
						
						<div class="nav-collapse">
							<ul class="nav navbar-nav">
								<li class="add-on"><a href="/home/">Home</a></li>
								<li class="add-on"><a href="/favorites/">Favorites</a></li>
								<li class="add-on"><a href="/plugins/">Plug-ins</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="body-content">
				<div class="container-fluid">

					<div id="container">
						<div id="header">
							<div id="branding">
								<h1 id="site-name">login</h1>
							</div>
						</div>

						<div id="content" class="colM">
							<div id="content-main">
								<form action="/auth/" method="post" id="login-form"><input type='hidden' name='csrfmiddlewaretoken' value='R0DKHV8F9vdU18S662pLr8eHiUzHTXJO'/>{% csrf_token %}
									<div class="form-row">
										<p>{{ error }}</p>
										<label for="id_username" class="required">Username:</label> <input id="id_username" maxlength="254" name="username" type="text"/>
									</div>
									
									<div class="form-row">
										<label for="id_password" class="required">Password:</label> <input id="id_password" name="password" type="password" />
										<input type="hidden" name="this_is_the_login_form" value="1" />
										<input type="hidden" name="next" value="/admin/" />
									</div>
							  
									<div class="submit-row">
										<label>&nbsp;</label><input type="submit" value="Log in" />
									</div>
								</form>

								<script type="text/javascript">
									document.getElementById('id_username').focus()
								</script>
							</div>
							<br class="clear"/>
						</div>
						<div id="footer"></div>
					</div>
					
				</div>
			</div>
		</div>
		
		<script src="{{ MEDIA_URL }}/static/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script src="{% static "bootstrap/js/bootstrap-2.1.1-min.js" %}" type="text/javascript"></script>
	</body>
</html>