{% load staticfiles %}
{% block content %}
<?xml version="1.0" encoding="UTF-8"?>

<html>
   <head>
		<title>Prognostic Health Monitor</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-default.css" %}" type="text/css">
   </head>
   
   <body bgcolor="#e5e5e5" align="center">
		<div class="wrapper">
		
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
				
						<a class="repo-link btn btn-primary btn-big" href="/admin/">admin</a>
						<a class="repo-link btn btn-primary btn-big" href="/logout/">logout</a>
						<label class="repo-link" >Hello {{username}}</label>
					  
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
					  
						<a class="brand" href="http://www.orbotech.com/">
							<img src="/static/images/orbotech_logo.png" alt="Orbotech" style="width:183px;height:20px;">
						</a>
						
						<div class="nav-collapse">
							<ul class="nav navbar-nav">
								<li class="add-on"><a href="/home/">Home</a></li>
								<li class="add-on"><a href="/favorites/">Favorites</a></li>
								<li class="active"><a href="/plugins/">Plug-ins</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="body-content">
				<div class="container-fluid">

					<h2>Plug-ins Manager</h2>
					<div class="fancy-line-div">
						<hr class="fancy-line"></hr>
					</div><br>
					
					<form action="/plugins/" method="GET">
						
						{% if chart_plugins %}
						<h3>Chart Plugins</h3>
						{% for name, plugins_list in chart_plugins.items %}
							<ul id="contentwrap" style="padding-top: 5px; margin-top:5px;">
								<table id="chart_plugins_table" align="center" style="line-height:24px;">
									<tbody>
										<tr><td><b><font color="#00386A">{{name}}: &nbsp;</font></b></td><td></td></tr>
										{% for p in plugins_list  %}
											<tr>
												<td></td>
												<td valign="baseline"> {{p.param}}: </td>
												
												<td valign="baseline"><input type="text" value="{{p.value}}" id="{{p.plugin_type}}+{{p.plugin_name }}+{{ p.param }}" name={{p.plugin_type}}+{{ p.plugin_name }}+{{ p.param }}></td>
											</tr>
										{% endfor  %}
									</tbody>
								</table>
							</ul>
						{% endfor  %}
						{% else %}
						{% endif %}
						
						{% if table_plugins %}
						<h3>Table Plugins</h3>
						{% for name, plugins_list in table_plugins.items %}
							<ul id="contentwrap" style="padding-top: 5px; margin-top:5px;">
								<table id="chart_plugins_table" align="center" style="line-height:24px;">
									<tbody>
										<tr><td><b><font color="#00386A">{{name}}: &nbsp;</font></b></td><td></td></tr>
										{% for p in plugins_list  %}
											<tr>
												<td></td>
												<td valign="baseline"> {{p.param}}: </td>
												
												<td valign="baseline"><input type="text" value="{{p.value}}" id="{{p.plugin_type}}+{{p.plugin_name }}+{{ p.param }}" name={{p.plugin_type}}+{{ p.plugin_name }}+{{ p.param }}></td>
											</tr>
										{% endfor  %}
									</tbody>
								</table>
							</ul>
						{% endfor  %}
						{% else %}
						{% endif %}
						
						{% if not chart_plugins %}
							{% if not table_plugins %}
							<h3> You do not have Plugins!</h3><br>
							{% else %}
							{% endif %}
							{% else %}
						{% endif %}
						
						<input class="blue_alt" type="submit" value="Save" name="save" id="save">
						<br>
					</form>
				</div>
			</div>
		</div>
		
		<script src="{{ MEDIA_URL }}/static/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script src="{% static "/static/bootstrap/js/bootstrap-2.1.1-min.js" %}" type="text/javascript"></script>
	</body>
</html>
{% endblock %}