
body { 
font-family: 'Tahoma';
margin: 0;
padding: 0; 
background: #f4f4f4;
color: #3f3f3f;
font-size: 14px;
line-height: 24px;
}

#contentwrap {
width: 80%;
background: rgba(53, 113, 143, 0.18);
margin: 20px auto;
border: 0px solid #35718F;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.clearfix:after {
    display:block;
    clear:both;
}

.dropdown-check-list {
  display: inline-block;
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-list ul.items li {
  list-style: none;
}

/*********************************
 *  The Fancy Line At The Bottom *
 ********************************/
div.fancy-line-div {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
 
hr.fancy-line { 
	display: block;
    border: 0; 
    height: 3px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
	margin-left: auto;
	margin-right: auto;
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 1.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,255,0.5) 0%, rgba(0,0,255,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,255,0.5)), color-stop(75%,rgba(0,0,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,255,0.5) 0%,rgba(0,0,255,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,255.5) 0%,rgba(0,0,255,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,255,0.5) 0%,rgba(0,0,255,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,255,0.5) 0%,rgba(0,0,255,0) 75%);
}

/*********************************
 *  The Head Line At The Bottom *
 ********************************/
div.head-line-div {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

hr.head-line { 
	display: block;
    border: 0; 
    height: 3px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
	margin-left: auto;
	margin-right: auto;
}
hr.head-line:before {
    top: -0.5em;
    height: 1em;
}
hr.head-line:after {
    content:'';
    height: 0.3em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.head-line:before, hr.head-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.head-line, hr.head-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.head-line:after {
    background: #f4f4f4;
}

/*********************************
*        Buttons Stylesheet      *
**********************************/
input.blue_alt {
    background: #becbd6;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#becbd6), to(#8da5b7));
    background: -moz-linear-gradient(#becbd6, #8da5b7);
    background: linear-gradient(#becbd6, #8da5b7);
    border: solid 1px #a1aeb7;
    border-bottom: solid 3px #62727e;
    box-shadow: inset 0 0 0 1px #d8e0e6;
    color: #515f6a;
	border-radius: 5px;
	padding: 5px 20px 5px;
	font-weight: 800;
	white-space: nowrap;
	cursor: pointer;
	margin-bottom: 8px;
    text-shadow: 0 1px 0 #c4d0da; }
    
input.blue_alt:hover {
    background: #97adbd;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#97adbd), to(#a8bac8));
    background: -moz-linear-gradient(#97adbd, #a8bac8);
    background: linear-gradient(#97adbd, #a8bac8);
    border: solid 1px #96a2ab;
    border-bottom: solid 3px #62727e;
    box-shadow: inset 0 0 0 1px #c0ced7; }
    
input.blue_alt:active {
    background: #8fa6b6;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8fa6b6), to(#8aa0b0));
    background: -moz-linear-gradient(#8fa6b6, #8aa0b0);
    background: linear-gradient(#8fa6b6, #8aa0b0);
    box-shadow: inset 0 10px 15px 0 #7e92a1; }
	
	
button.blue_alt {
    background: #becbd6;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#becbd6), to(#8da5b7));
    background: -moz-linear-gradient(#becbd6, #8da5b7);
    background: linear-gradient(#becbd6, #8da5b7);
    border: solid 1px #a1aeb7;
    border-bottom: solid 3px #62727e;
    box-shadow: inset 0 0 0 1px #d8e0e6;
    color: #515f6a;
	border-radius: 5px;
	padding: 0px 10px 0px;
	font-weight: 800;
	white-space: nowrap;
	cursor: pointer;
    text-shadow: 0 1px 0 #c4d0da; }
    
button.blue_alt:hover {
    background: #97adbd;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#97adbd), to(#a8bac8));
    background: -moz-linear-gradient(#97adbd, #a8bac8);
    background: linear-gradient(#97adbd, #a8bac8);
    border: solid 1px #96a2ab;
    border-bottom: solid 3px #62727e;
    box-shadow: inset 0 0 0 1px #c0ced7; }
    
button.blue_alt:active {
    background: #8fa6b6;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8fa6b6), to(#8aa0b0));
    background: -moz-linear-gradient(#8fa6b6, #8aa0b0);
    background: linear-gradient(#8fa6b6, #8aa0b0);
    box-shadow: inset 0 10px 15px 0 #7e92a1; }
	
/*********************************
*        annotation Chart        *
**********************************/
.gradientBoxesWithOuterShadows { 		
	padding: 10px 10px 10px 10px;
	margin: 5px 10px 5px 10px;
	background-color: white; 
	/* outer shadows  (note the rgba is red, green, blue, alpha) */
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
	/* rounded corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	border-radius: 7px; 
}

.chartConfiguration label {
	padding-right: 15px;
	white-space: nowrap;
}
.chartConfiguration input {
	vertical-align: middle;
}
.chartConfiguration label span {
	vertical-align: middle;
}

.tableSettings label {
	padding-right: 30px;
	white-space: nowrap;
}
.tableSettings input {
	vertical-align: middle;
}
.tableSettings label span {
	vertical-align: middle;
}

.tableTimeRange label {
	padding-right: 30px;
	white-space: nowrap;
}
.tableTimeRange input {
	vertical-align: top;
}
.tableTimeRange label span {
	vertical-align: top;
}				